body {
    background: #47524d;

    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 0px 140px;
}

.header-logo {
    margin: 30px ;
    color: white;
    font-family:'Kaushan Script', cursive; 
    font-size: 40px;
}

.header {
    background-image: url(plant-g4edd10458_1920.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.header:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    top: 100px;
    left: 50px;
}

.header:before {
    position: absolute;
    content: '';
    height: 2px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    top: 100px;
    right: 50px;
}

.header-line {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-item {
    color: #fff;
    text-decoration: none;
    font-weight: 450px;
    font-size: 17px;
    margin-right: 55px;

    transition: color 0.4s linear;
}

.nav-item:hover {
    color: #136c45;
}

.header-down {
    position: relative;
    margin: 60px;
    margin-left: 140px ;
}
.header-title {
    color: #fff;
    font-family:'Kaushan Script', cursive;
    font-size: 30px;
    font-weight: 450px;

    text-align: left;
    position: absolute;
    left: 0;
    margin-top: 150px;
}



.image {
    width: 350px;
    margin-top: 200px;
    margin-left: 280px;
}

.story-text {
   width: 900px; 
   margin: 0px 280px 0px;
   display: flex;
   align-items: center;
   font-family: 'Roboto', sans-serif;
   font-size: 18px;

}


